header {
    height: 100vh;
    overflow: hidden;
    margin-top: 5rem;
    
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    background: var(--color-bg-variant);
    transition: var(--transition);
    border-radius: 3rem;
}

.header__left img{
    background: linear-gradient(var(--color-primary, transparent));
    width: 28rem;
    overflow: hidden;
    padding: 1.5rem;

}

.header__right{
    right: 0rem;
    padding: 3.5rem;
    
}

.header__right h3{
    text-align: left;
    margin: 0;
}

/* ======================== CV ======================== */
.resume{
    display: flex;
    gap: 1.1rem;
    justify-content: left;
}

.resume .btn-double{
    background: transparent;
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.8rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.resume .btn-double:hover {
    background: var(--color-white);
    border-color: transparent;
    font-weight: 9000;
}

.resume .btn-double a {
    color: var(--color-primary);
}

.resume .btn-double a:hover {
    color: var(--color-primary-variant);
}

/* ======================== Header Socials ======================== */
.header__socials {
    display: flex;
    gap: 0.8rem;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.resume .btn, .btn-primary{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* ======================== scroll down ======================== */
.scroll__down p{
    text-align: center;
    margin-top: 7rem;
    font-weight: 300;
    font-size: 0.9rem;
}


/* ============================= MEDIA QUERIES (MEDIUM DEVICES) ============================= */
@media screen and (max-width: 1024px){
    header{
        height: auto;
        margin: 2rem 0.5rem 0 0.5rem;
    }
    .header__container {
        padding: 3rem;
    }
    
    .header__left{
        padding: 0;

    }

    .header__left img{
        background: linear-gradient(var(--color-primary, transparent));
        width: 100%;
    }
    .header__right{
        padding: 2rem 2rem 4rem 2rem;
    }

    .header__right h1{
        font-size: 2rem;
    }

    .scroll__down{
        bottom: 1.5rem;
        text-align: center;
    }

    .header__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* ============================= MEDIA QUERIES (MEDIUM DEVICES) ============================= */
@media screen and (max-width: 600px){
    header{
        height: auto;
        margin: 2rem 0.5rem 0 0.5rem;
    }

    .header__container {
        padding: 1rem;
        border-radius: 3rem;
    }
    
    .header__left{
        padding: 0;

    }

    .header__left img{
        background: linear-gradient(var(--color-primary, transparent));
        width: 100%;
    }
    .header__right{
        padding: 2rem 2rem 4rem 2rem;
    }

    .header__right h1{
        font-size: 2rem;
    }

    .scroll__down{
        bottom: 1.5rem;
        text-align: center;
    }

    .header__container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .scroll__down p{
    margin-top: 1.5rem;
    }
}

